body {
    background-color: #E7DFD8;
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #E4D7BD;
    padding: 20px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 20px;
    top: 0;
    position: fixed;
    z-index: 1;
}

.header.small-header {
    font-size: 10px;
    padding: 5px;
}

.footer {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #E4D7BD;
    padding: 20px 0;
    text-align: center;
    color: #777;
}

.show-footer {
    display: block;
}

.container div[class^="col"] {
    background-color: #E7DFD8;
    padding-top: 5px;
    padding-bottom: 5px;
}

.container2 div[class^="col"] {
    background-color: #E4D7BD;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.container2 div[class^="col"]:hover {
    color: #5C4033;
}

.search-bar {
    justify-content: right;
    display: flex;
    margin-bottom: 10px;
    position: sticky;
    top: 50px;
    background-color: #E7DFD8;
    transition: all 0.3s ease;
}

.search-bar input[type="text"] {
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    background-color: #CDC2AB;
}

.search-bar button {
    padding: 5px 15px;
    margin-left: 5px;
    border-radius: 5px;
    background-color: #CDC2AB;
}

.search-bar button:hover {
    background-color: #5C4033;
    color: black;
}

.shoe button {
    background-color: #CDC2AB;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    transition: background-color 0.3s ease;
}

.shoe button:hover {
    background-color: #5C4033;
    color: black;
}

.shoe {
    position: relative;
    overflow: hidden;
}

.shoe img {
    transition: transform 0.3s ease;
    width: 200px;  /* Set the desired width */
    height: auto;  /* Maintain the aspect ratio */
}

.shoe:hover img {
    transform: scale(1.1);
}

.shoe h4,
.shoe h5,
.shoe button {
    transition: transform 0.3s ease;
}

.shoe:hover h4,
.shoe:hover h5,
.shoe:hover button {
    transform: scale(1.1);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
}

.popup {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    text-align: center;
}

.popup img {
    max-width: 200px;
    margin-bottom: 10px;
}

.popup select {
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}

.popup button {
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #CDC2AB;
    border: none;
}

.logo {
    width: 80px;  /* Set the desired width */
    height: auto;  /* Maintain the aspect ratio */
}

.header a {
    text-decoration: none;
    color: inherit;
}

.feature-1 {
    width: 100vw;
    min-height: 80vh;
    background-image: url('../img/Kanye 1.jpg');
    background-position: center;
    background-size: cover;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}

.feature-1 .feature-content {
    max-width: 600px;
}

.feature-title {
    font-size: 5rem;
    margin-bottom: 1rem;
}

.feature-description {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    color: #fffafa;
    letter-spacing: 0.1rem;
}

.feature-2 {
    width: 100vw;
    min-height: 80vh;
    background-image: url('../img/Kanye 2.jpg');
    background-position: center;
    background-size: cover;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}

.feature-3 {
    width: 40vw;
    min-height: 100vh;
    background-image: url('../img/Kanye 3.jpg');
    background-position: center;
    background-size: cover;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}

.first-section {
    padding: 200px 0;
    background-image:
    linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
    ),
    url('../img/Kanye\ 1.jpg');
    background-color: rgba(0, 0, 0, 0.136);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
}

.first-section .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-section .text {
    flex: 1;
    padding: 0 20px;
    animation: fadeInLeft 1s ease forwards;
    animation-delay: 1s;
}

.first-section .text h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.first-section .text p {
    font-size: 1.2rem;
    line-height: 1.6;
}

.first-section .image {
    flex: 1;
    text-align: center;
}

.first-section .image img {
    max-width: 70%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.first-section .image img:hover {
    transform: scale(1.1);
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.third-section {
    padding: 150px 0;
    background-image:
    linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
    ),
    url('../img/Kanye\ 2.jpg');
    background-color: rgba(0, 0, 0, 0.7);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
}

.third-section .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-section .image {
    flex: 1;
    text-align: center;
}

.third-section .image img {
    max-width: 70%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.third-section .image img:hover {
    transform: scale(1.1);
}

.third-section .text {
    flex: 1;
    padding: 0 20px;
    animation: fadeInRight 1s ease forwards;
    animation-delay: 1s;
}

.third-section .text h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.third-section .text p {
    font-size: 1.2rem;
    line-height: 1.6;
}
