body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #c6e6c0;
    background-image: url('/assets/img/bbcakes.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin: 0.5rem 0;
}

h2 {
    font-size: 2rem;
    margin: 0.5rem 0;
}

main {
    text-align: center;
    max-width: 800px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 1rem;
}

nav a {
    text-decoration: none;
    color: #007bff;
    font-size: 1.2rem;
}

nav a:hover {
    text-decoration: underline;
}

.picture  {

    height: auto;
    max-width: 20%;

  }

.logo {

    height: auto;
    max-width: 60%;

}
